@import url("https://fonts.googleapis.com/css2?family=Lato:ital,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left {
  padding: 2rem 4%;
  width: 20%;
  height: 100%;
  background: -webkit-linear-gradient(
    top,
    rgb(102, 0, 218) 0%,
    rgb(150, 0, 232) 80%,
    rgb(163, 1, 237) 100%
  );
  background: -o-linear-gradient(
    top,
    rgb(102, 0, 218) 0%,
    rgb(150, 0, 232) 80%,
    rgb(163, 1, 237) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgb(102, 0, 218) 0%,
    rgb(150, 0, 232) 80%,
    rgb(163, 1, 237) 100%
  );
  background: -moz-linear-gradient(
    top,
    rgb(102, 0, 218) 0%,
    rgb(150, 0, 232) 80%,
    rgb(163, 1, 237) 100%
  );
  background: linear-gradient(
    to bottom,
    rgb(102, 0, 218) 0%,
    rgb(150, 0, 232) 80%,
    rgb(163, 1, 237) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
}

.left .logo {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #fff;
}

.left .left-items {
  flex: 1;
  margin-top: 2rem;
}

.left-items ul li {
  list-style: none;
  margin-top: 2rem;
}

.left-items ul li a {
  text-decoration: none;
  color: #fff;
}

.left-items ul li img,
.logout img {
  vertical-align: middle;
  width: 20px;
  margin-right: 12px;
}

.logout a {
  text-decoration: none;
  color: #fff;
}

/* 
  From here start,
  Right side css 
*/

.right {
  padding: 2rem 4%;
  width: 80%;
  height: 100%;
  margin-left: 20%;
}

.right .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn {
  display: inline-block;
  width: 75px;
  margin-right: 1rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

.btns .add {
  color: #fff;
  background-color: #10cd45;
}

.btns .more {
  color: #9dadb9;
  background-color: #eef2f5;
}

main {
  margin-top: 2rem;
}

main table {
  width: 100%;
  border-collapse: collapse;
  font-weight: bolder;
}
main table tr th {
  color: #878787;
}

main table tr td {
  color: #414141;
}

main table tr td,
main table tr th {
  padding: 1rem;
  text-align: left;
}

main table tr:nth-child(even) {
  background-color: #eef2f5;
}

/*
 From here, we are starting,
 Add form styling
 */

.form-container {
  margin-top: 10%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 30%);
  justify-content: center;
}

.form-group label {
  display: block;
}

.form-container .form-element {
  outline: none;
  width: 95%;
  height: 35px;
  margin-top: 0.2rem;
  margin-bottom: 02rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 5px;
  color: #696868;
  font-weight: lighter;
}

.form-container .textarea {
  width: 98%;
  height: 100px;
  resize: vertical;
}
.span-2 {
  grid-column: span 2;
}

.submit-btn {
  justify-self: center;
}

input[type="submit"] {
  background: none;
  outline: none;
  border: 1px solid #414141;
  padding: 1rem;
  border-radius: 10px;
}
